* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div a {
  text-decoration: none;
}

.card {
  transition: 0.7s;
}

.card:hover img {
  transform: scale(1.4);
}
.first {
  transition: 0.7s;
}
.first:hover img {
  transform: scale(1.19);
}

.container:last-child .card {
  width: 350px;
}
